{% extends 'base.html' %}
{% block title %}개시판{% endblock %}
{% block content %}

<div class="postspage">
    <div class="blogheader">
        <h1>{% block posttype %}{% endblock %}</h1>
    </div>
    <div class="blogchoice">
        <a href="{% url 'blog:announcement' %}" {% block style_announcement %}{% endblock %}>| 공지사항 |</a>
        <a href="{% url 'blog:meeting_log' %}" {% block style_meeting_log %}{% endblock %}>| 회의 내용 |</a>
        <a href="{% url 'blog:free_posts' %}" {% block style_free_post %}{% endblock %}>| 자유게시판 |</a>
    </div>
    {% block postcontent %}{% endblock %}

{% endblock %}
