@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');


body, h1, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    background-image: url('background1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

body::before{
    opacity:0.6;
}

.postbody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    position:relative;
}

.postspage{
    display:inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
}
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100%;
    padding-top:15px;
    position:fixed;
    z-index: 999;
    background-color: #0047ab;
}

header nav{
    display: flex;
    text-align: center;
    justify-content: right;
    width: 100%;
}

.menuicon{
    margin-left: 0;
    margin-top: 4;
    cursor: pointer;

}



.auth {
    margin-top: 7px;
    display: grid;
    grid-template-columns:100px 100px;
    padding: 25px;
}

.blogchoice{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
}

.blogchoice a{
    font-family: "Do Hyeon", sans-serif;
    font-style: normal;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 5%;
    padding-right:5%;
    color: white;
    text-decoration: none;
    z-index: 999;
    transition-duration: 1s;
}


.auth a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:1.4em;
}

#id_category {
    clear:both;
    width: 100%;
    height:25px;
    text-align: center;
    margin-left: 10px;
  }
  

.category_choice{
    display: flex;
    padding-bottom: 20px;
    width:100%;
}

#category_title{
    width: 10%;
}

a:hover {
    color:darksalmon;
}
.container {
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: left;
    align-items: left;
    position:absolute;
}

.left {
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in-out;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    height: 100%;
    top:0;
    left:0;
    padding-right: 20px;
    position: fixed; 
    overflow-x:hidden;

}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 1.5em;
  
    border: 0;
    margin-bottom: 28%;

    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition-duration: 0.5s;
    z-index: 999;
}


.menu-btn:hover{
    background-color: lightgray;
}

@media (min-width: 768px) {
    .menu-btn {
      padding: 0.25em 0.75em;
    }
  }

.menu-btn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }

.right {
    display:inline-block;
    width: 100%;
    height:100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    position:relative;
    z-index: -1;
}

.blogheader{
    display:inline-block;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:80px;
    text-align: center;
    z-index: -1;
    
}

.blogheader h1{
    font-size: 3em;
    color: white;
    font-weight: 100;
}

.blogheader h3{
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 20px;
    font-size: 1.4em; 
    margin-bottom:5%;
}


.card{
    display: block;
}
.posts_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.row{
    width: 100%;
}
.card{
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.card-body{
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body p{
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card-body h2{
    font-family: "Do Hyeon", sans-serif;
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
}

.right h1 {
    font-size: 3em;
    color: black;
    margin-top: 20%;

}
.right h3 { 
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 20px;
    font-size: 1.4em;
}

.right posts{
    margin-top:5%;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 800px;
}

.posttitle {
    margin-bottom: 20px;
}

.masthead{
    display:block;
    z-index: 999;}


.postform {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

.postlabel {
    margin-bottom: 10px;
    align-self: flex-start;
}

input[type="text"], textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    height: 300px;
}
.topost{
    position:relative;
    z-index: 999;
    text-align: center;
    padding: 60px;
}

#id_body{
    margin-bottom: 0px;
}
.topost a{
    background-color: white;
    padding: 30px;
    margin: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:1.4em;
    transition-duration: 0.5s;
}
.topost a:hover{
    background-color: darkgray;
}
.form-container button{
    background-color: black;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size:1em;
    transition-duration: 0.5s;
}

.form-container button:hover{
    background-color: darkgray;
}