{% extends 'base.html' %}
{% block login %}<li><a href="{% url 'app:login' %}">로그인</a></li>{% endblock %}
{% block logout %}<a href="{% block notlogged10 %}{% url 'app:login' %}{% endblock %}">로그인</a>{% endblock %}
{% block home %}"{% url 'app:home' %}"{% endblock %}
{% block notlogged %}{% url 'app:notlogged' %}{% endblock %}
{% block notlogged1 %}{% url 'app:notlogged' %}{% endblock %}
{% block notlogged2 %}{% url 'app:notlogged' %}{% endblock %}
{% block notlogged3 %}{% url 'app:notlogged' %}{% endblock %}
{% block notlogged4 %}{% url 'app:notlogged' %}{% endblock %}
{% block notlogged5 %}{% url 'app:notlogged' %}{% endblock %}
{% block notlogged6 %}{% url 'app:notlogged' %}{% endblock %}
{% block notlogged7 %}{% url 'app:notlogged' %}{% endblock %}
{% block notlogged8 %}{% url 'app:notlogged' %}{% endblock %}
{% block notlogged9 %}{% url 'app:notlogged' %}{% endblock %}
{% block content %}
<div class="right">
    <h1>거시기 개발사업</h1>
    <h3>뭐 거시기 개발사업 개요. 간단한 2-3줄짜리 설명.뭐 거시기 개발사업 개요. 간단한 2-3줄짜리 설명. <br/>
        뭐 거시기 개발사업 개요. 간단한 2-3줄짜리 설명.뭐 거시기 개발사업 개요. 간단한 2-3줄짜리 설명.<br/>
        뭐 거시기 개발사업 개요. 간단한 2-3줄짜리 설명.뭐 거시기 개발사업 개요. 간단한 2-3줄짜리 설명.<br/>
    </h3>
</div>
{% endblock %}
