{% extends 'base.html' %}
{% block login %}<a href="{% url 'app:login' %}">로그인</a>{% endblock %}
{% block register %}<a href="{% url 'app:signup' %}">가입</a>{% endblock %}
{% block notlogged %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged1 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged2 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged3 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged4 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged5 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged6 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged7 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block content %}
<div class="right">
    <h1>거시기 개발사업</h1>
    <h3>뭐 거시기 개발사업 개요. 간단한 2-3줄짜리 설명.뭐 거시기 개발사업 개요. 간단한 2-3줄짜리 설명. <br/>
        뭐 거시기 개발사업 개요. 간단한 2-3줄짜리 설명.뭐 거시기 개발사업 개요. 간단한 2-3줄짜리 설명.<br/>
        뭐 거시기 개발사업 개요. 간단한 2-3줄짜리 설명.뭐 거시기 개발사업 개요. 간단한 2-3줄짜리 설명.<br/>
    </h3>
</div>
{% endblock %}
