{% extends 'base.html' %}
{% block login %}<a href="{% url 'app:login' %}">로그인</a>{% endblock %}
{% block register %}<a href="{% url 'app:signup' %}">가입</a>{% endblock %}
{% block notlogged %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged1 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged2 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged3 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged4 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged5 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged6 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block notlogged7 %}"location.href='{% url 'app:notlogged' %}'"{% endblock %}
{% block content %}
<div class="right">
    <h1>저시기 사업</h1>
    <h3>뭐시기 설명 저시기 설명 저시기 저시기 
        이래서 이렇게 할거임
    </h3>
</div>
{% endblock %}
